.border{
    border: 2px solid red;
    margin: 3px;
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.items-center{
    align-items: center;
}

.bg-black{
    background-color: black;
    color: white;
}

.invert{
    filter: invert(1);
}

.bg-grey{
    background-color: #121212;;
}

.rounded{
    border-radius: 7px;
}

.m-1{
    margin: 5px;
}

.p-1{
    padding: 10px;
}

/* Style the scrollbar container */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

/* Style the scrollbar track (the part you drag the scrollbar thumb along) */
::-webkit-scrollbar-track {
    background: #2e2e2e; /* Dark background for the track */
    border-radius: 10px; /* Optional: rounded corners */
}

/* Style the scrollbar thumb (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
    background: #555; /* Darker color for the thumb */
    border-radius: 10px; /* Optional: rounded corners */
    border: 3px solid #333; /* Optional: add some space around the thumb */
}

/* Style the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
    background: #777; /* Slightly lighter color when hovering */
}
